
.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: #333333;
}
.icon-database {
  fill: #333333;
}
.icon-upload {
  fill: #333333;
}
.icon-download {
  fill: #333333;
}
.icon-upload2 {
  fill: #333333;
}
.icon-newspaper {
  fill: #333333;
  width: 36px;
}
.icon-office {
  fill: #333333;
}
.icon-tag {
  fill: #333333;
}
.icon-pen {
  fill: #333333;
}
.icon-bell {
  fill: #333333;
}
.icon-bubbles {
  fill: #333333;
}

